* {
  text-align: center;
}

/* make UI content visible*/
.home-position {
  position: absolute;
  top: 10vh;
  padding: 40px;
  background-color: #F2D7FF;
  width: 100vw;
}

.not-found-position {
  padding: 40px;
  width: 100vw;
}

/* home background */
.landing {
  background-image: url("./assets/cat-background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

/* header and footer styling */
header, footer {
  font-size: 20px;
  width: 100%;
  background-color: rgba(198, 158, 218, 0.78);
}

header {
  position: fixed;
  top: 0;
  z-index: 20;
}

footer {
  bottom: 0;
  height: 2em;
  left: 0;
  position: fixed;
  font-size: small;
  z-index: 9;
}
